/* :::: div styles :::: */
.div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 24rem;
  width: 100vw;
  background-color: rgba(25, 25, 25, 0.5);
  box-shadow: 0px 0px 12px 12px rgba(0, 0, 0, 0.4);
}

/* .article {
  width: 65%;
  text-align: justify;
  padding: 1rem;
}

.text {
  font-size: 1.4rem;
  color: white;
  letter-spacing: 3px;
  line-height: 6rem;
} */
