/* :::: jumbo style :::: */
.div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 18%;
  width: 100%;
  background-color: white;
}
