/* :::: global index style :::: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0em auto;
  background-color: white;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.imageContent {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 84vh;
}

h1 {
  color: black;
  line-height: 15%;
  font-weight: lighter;
  letter-spacing: 8px;
  margin: 4%;
}

.song_article {
  width: 78%;
  display: flex;
  justify-content: center;
  text-align: justify;
  padding: 1rem;
}

.song_text {
  font-size: 1.6rem;
  color: black;
  letter-spacing: 4px;
  line-height: 340%;
}
